/*.container {
  width: 100%;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 100%;
  }

  @media (min-width: $min-desktop-width) and (max-width: $max-desktop-width) {
    min-width: 100%;
  }
}*/
