.main-nav {
  @media (min-width: $mobile-width) {
    display: flex;
    width: 320px;

    .main-nav__list {
      list-style: none;
    }
  }

  @media (min-width: $tablet-width) {
    .main-nav__link {
      padding: 33px;
      color: $base-white;
      text-shadow: 0.1em -0.3em 0.2em $base-black;

      &:hover {
        color: $dark-green;
        text-shadow: 0 0 0 $base-black;
        background-color: $light-green;
        transition-duration: 0.5s;
      }

      &:active {
        color: $base-black;
        text-shadow: 0 0 0 $base-black;
        transition-duration: 0.3s;
      }
    }
  }

  @media (min-width: $desktop-width) {
    width: 500px;

    .main-nav__list {
      font-family: "PT Sans", "Arial", sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 12px;
      width: 100%;
      display: flex;
      align-items: center;
      text-transform: uppercase;
    }

    .main-nav__item {
      text-align: center;
      /*outline: 5px solid red;
      outline-offset: -5px;*/
    }
  }
}
