@media (min-width: $mobile-width) {
  .main-nav {
    width: 100%;
    margin: 0 auto;
  }

  .main-nav__list {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    list-style: none; /*ненужные буллиты убраны*/
    font-size: 18px;
    text-transform: uppercase;
  }

  .main-nav__item {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid $light-green;
    border-bottom: 1px solid $dark-green;

    &:hover {
      background-color: $light-green;
      transition-duration: 0.5s;
    }

    &:active {
      background-color: $dark-green;
    }
  }

  .main-nav__link {
    color: $base-white;
    /*text-shadow: 0.1em -0.3em 0.2em $base-black;*/
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 500px;
  }

  .main-nav__list {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }

  .main-nav__item {
    width: 100%;
    padding-top: 33px;
    padding-bottom: 33px;
    border: none;
  }

  .main-nav__link {
    color: $base-white;
    text-shadow: 0.1em -0.3em 0.2em $base-black;
    /*outline: 1px solid black;
    outline-offset: -1px;*/

    &:hover {
      color: $dark-green;
      text-shadow: 0 0 0 $base-black;
      background-color: $light-green;
      transition-duration: 0.5s;
    }

    &:active {
      color: $base-black;
      text-shadow: 0 0 0 $base-black;
      transition-duration: 0.3s;
    }
  }
}

@media (min-width: $desktop-width) and ($max-desktop-width) {
  .main-nav__list {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
  }
}
