@media (min-width: $desktop-width) {
  .page-footer__social {
    width: 12%;
  }

  .social__list {
    display: flex;
    justify-content: space-between;
    padding: 0;
  }

  .social__item {
    padding: 5px;
    border: 5px solid $base-white;

    &:hover {
      border: 5px solid $base-white;
    }
  }

  .social__link {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: $base-white;
    /*text-shadow: 0.1em -0.3em 0.2em $base-black;*/
  }
}
