@media (min-width: $tablet-width) {
  .copyright-text {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    margin: 0;
    color: $base-white;
    /*text-shadow: 0.1em -0.3em 0.2em $base-black;
    text-transform: uppercase;*/
  }

  .copyright-link {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: $base-white;
    /*text-shadow: 0.1em -0.3em 0.2em $base-black;*/
    text-transform: uppercase;

    .copyright__link__text {
      margin: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .copyright-text {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    margin: 0;
    color: $base-white;
    /*text-shadow: 0.1em -0.3em 0.2em $base-black;
    text-transform: uppercase;*/
  }

  .copyright-link {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    color: $base-white;
    /*text-shadow: 0.1em -0.3em 0.2em $base-black;*/
    text-transform: uppercase;

    .copyright-link__text {
      margin: 0;
    }
  }
}
