.user-nav {
  @media (min-width: $desktop-width) {
    font-family: "PT Sans", "Arial", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    text-align: left;
    text-transform: uppercase;
  }
}

.user-nav__list {
  @media (min-width: $desktop-width) {
    display: flex;
    width: 100%;

    .user-nav__item {
      position: relative;
      margin-right: 30px;
    }
  }
}

.user-nav__link {
  @media (min-width: $desktop-width) {
    color: $base-white;
    border: 3px solid $base-white;
    border-radius: 7px;
    padding: 5px;
    text-shadow: 0.1em -0.3em 0.2em $base-black;
    box-shadow: 0.1em -0.3em 1.2em $base-black;
  }

  &:hover {
    color: $dark-green;
    border-color: $light-green;
    background-color: $light-green;
    text-shadow: 0 0 0 $base-black;
    box-shadow: 0 0 0 $base-black;
    border-radius: 0;
    transition-duration: 0.3s;
  }

  &:active {
    color: $base-black;
    border-color: $dark-green;
    box-shadow: 0.1em -0.3em 1.2em $base-black;
    transition-duration: 0.3s;
  }
}
/*
@media (min-width: $desktop-width) {
  .user-nav--entrance {
    &::before {
      content: "";
      position: absolute;
      top: -6px;
      left: 34px;
      width: 25px;
      height: 25px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -2px;
      left: 35px;
      width: 25px;
      height: 25px;
      background-image: url("../img/icon-ent.png");
      background-repeat: no-repeat;
    }
  }

  .user-nav--registration {
    &::before {
      content: "";
      position: absolute;
      top: -6px;
      left: 70px;
      width: 25px;
      height: 25px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -2px;
      left: 67px;
      width: 25px;
      height: 25px;
      background-image: url("../img/icon-reg.png");
      background-repeat: no-repeat;
    }
  }
}*/
