.page-main {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  min-height: 63vh;
  margin: 0 auto;

  *>* {
    outline: 4px solid green;
    outline-offset: -1px;
  }

  @media (min-width: $mobile-width) {
    width: 100%;
    margin: 0 auto;
    /*outline: 4px solid yellow;
    outline-offset: -1px;*/
  }

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0 auto;
  }

  @media (min-width: $min-desktop-width) and (max-width: $max-desktop-width) {
    width: 100%;
    margin: 0 auto;
  }
}
